html, body {
  position: relative;
  height: 100%; }

body {
  overflow-x: hidden;
  overflow-y: scroll; }

#nav {
  transition: all 0.5s ease;
  padding: 20px; }
  #nav a.navbar-brand {
    color: white;
    font-size: xx-large; }

ul.navbar-nav li a {
  color: white !important;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.5s ease; }

ul.navbar-nav li a:hover, ul.navbar-nav li a:active {
  color: grey !important; }

.black-nav {
  background-color: rgba(20, 20, 20, 0.9);
  padding-top: 3px;
  padding-bottom: 3px; }

#angleUp {
  position: fixed;
  color: lightslategray;
  right: 25px;
  bottom: 40px;
  z-index: 1;
  font-size: x-large;
  display: none; }
  #angleUp:hover {
    font-size: xx-large; }

#header {
  /*parallax*/
  background-image: url("../images/main-pic.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center; }
  #header p {
    font-size: 20px; }

#about {
  margin: 80px auto; }
  #about hr {
    width: 70px;
    border: 1px solid darkgrey;
    margin-top: 0;
    margin-bottom: 20px; }
  #about p {
    font-size: 20px; }

#devItemsContainer {
  margin-bottom: 130px;
  padding-top: 50px;
  opacity: 0; }
  #devItemsContainer span {
    font-size: 22px; }
    #devItemsContainer span i {
      font-size: 40px; }
    #devItemsContainer span span {
      font-weight: bold; }
  #devItemsContainer p {
    margin-top: 8px;
    font-size: 18px; }

#projects {
  padding-top: 25px;
  color: white; }
  #projects hr {
    width: 70px;
    margin-top: 0;
    margin-bottom: 25px;
    border: 1px solid white; }

.padding-0 {
  padding-left: 0px;
  padding-right: 0px; }

.project-img {
  height: auto;
  max-width: 100%;
  opacity: 0.8;
  transition: all 0.3s ease; }
  .project-img:hover {
    opacity: 1; }

#services {
  margin: 40px auto; }
  #services hr {
    width: 70px;
    border: 1px solid darkgrey;
    margin-top: 0;
    margin-bottom: 20px; }
  #services p {
    font-size: 20px; }
  #services .row {
    margin-bottom: 50px; }
    #services .row #imgServices1 {
      position: relative;
      right: 150px;
      opacity: 0; }
    #services .row #imgServices2 {
      position: relative;
      left: 150px;
      opacity: 0; }

#team {
  margin: 100px auto; }
  #team hr {
    width: 70px;
    border: 1px solid darkgrey;
    margin-top: 0;
    margin-bottom: 20px; }
  #team p {
    font-size: 20px; }
  #team .row {
    margin-bottom: 30px; }
  #team .card {
    margin-bottom: 10px;
    transition: all 0.3s ease; }
    #team .card:hover {
      box-shadow: 1px 1px 8px rgba(20, 20, 20, 0.5), -1px -1px 8px rgba(20, 20, 20, 0.5); }
    #team .card h4 {
      font-size: medium; }

#contactInfo .row {
  padding-top: 25px;
  padding-bottom: 25px; }

#contactInfo .media i {
  font-size: xx-large; }

#contactInfo .media a {
  color: white; }

#contact {
  margin-bottom: 30px; }
  #contact h2 {
    padding-top: 30px; }
  #contact hr {
    width: 70px;
    border: 1px solid darkgrey;
    margin-top: 0;
    margin-bottom: 20px;
    margin-bottom: 30px; }
  #contact input {
    width: 48%; }

footer {
  padding-top: 10px;
  padding-bottom: 10px; }

@media screen and (max-width: 767px) {
  .navbar-toggler:focus {
    outline: none; }
  #collapseNavbar {
    background-color: rgba(20, 20, 20, 0.9);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px 20px;
    box-shadow: 5px 1px 2px black; }
    #collapseNavbar ul.navbar-nav a {
      text-align: center;
      font-size: medium;
      padding-top: 20px;
      padding-bottom: 20px; }
      #collapseNavbar ul.navbar-nav a i {
        font-size: xx-large; }
  #header {
    background-attachment: scroll; }
  #about {
    margin-top: 50px; }
  #devItemsContainer {
    margin-bottom: 25px; }
    #devItemsContainer p {
      padding-bottom: 20px;
      margin-bottom: 30px;
      border-bottom: 2px  solid darkgray; }
  #contactInfo .media {
    border-bottom: 1px solid white;
    margin: 10px auto; }
  #contact input {
    width: 100%; } }
